<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
</head>
<body>
<h2>Сброс пароля</h2>
<p>Здравствуйте,</p>
<p>Вы получили это письмо, потому что запросили сброс пароля на нашем сайте о заработке на платном серфинге.</p>
<p>Пожалуйста, нажмите на ссылку ниже, чтобы установить новый пароль:</p>
<p>
    <a th:href="@{${resetLink}}">Сбросить пароль</a>
</p>
<p>Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо.</p>
<p>С уважением,<br/>
    Команда поддержки</p>
<p th:text="${supportEmail}"></p>
</body>
</html>