<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Подтверждение регистрации</title>
</head>
<body>
<h1>Добро пожаловать на наш сайт для заработка на просмотрах!</h1>
<p>Вы успешно зарегистрировались на нашем сайте. Для подтверждения регистрации, пожалуйста, нажмите на ссылку ниже:</p>
<a th:href="${confirmationLink} " style="display: block">Подтвердить регистрацию</a>
<p>Если ссылка не работает, скопируйте и вставьте следующий URL в адресную строку вашего браузера:</p>
<p th:text="${confirmationLink}"></p>

<p>Благодарим вас за регистрацию на нашем сайте. Удачи и хороших заработков!</p>
</body>
</html>
